/* nav bar*/
li{
    list-style-type: none;
    
}

.nav{
    color: white;
    text-decoration: none;
    
}


.navbar li {
    height: auto;
    width: 136px;
    float: left;
    margin-left: 60%;

    text-align: center; 
    list-style: none;  
    font: normal bold 13px/1em Arial, Verdana, Helvetica;  
    padding: 0;
    margin: 0;
}



.navbar li:hover ul{
    display: block;
}

.navbar a{							
        padding: 18px 0;  
        border: 2px solid #2B2F34;
        border-radius: 5px;
        margin-left: 10px;
        text-decoration: none; 
        color: white; 
        display: block;
        
}

.nav:hover{
    background-color: #343a40;
    transition: 500ms;
    border-radius: 5px;
    
}

ul{
    text-decoration: none;
    right: 40%;
    padding: 0;
    margin: 0;
    position: fixed;

}





body{
    background-color: #343a40;
    margin: auto;
}

#div_nav{
    background-color: #212529;
    width: 100%; 
    height: 70px; 
    margin: 0;
    z-index: 99; 
    position: relative; 
    padding-top: 10px;

}

/*Name*/

#name{
    text-align: center;
    font-size: 250%;
    margin-top: 20px;
    margin-bottom: 0px;
}

#pp{
    height: 30%;
    margin-top: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20%;

}

#desc{
    text-align: center;
    font-size: 100%;
    font-family: 'Roboto Condensed', sans-serif;
    margin-top: 2px;
}



#discord{
    height: 8%;
    
    
}

#github{
    height: 8%;
}

#rootme{
    height: 9%;
}

#contact
{
    margin-left: 45%;
}







/* carouselle des project*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


h2{
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto Condensed', sans-serif;
}